# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
#_pycache_
*.pyc
__pycache__/
migrations/
.idea/
__pycache__
logs/

# My configurations:
db.ini
deploy_key_rsa

app.db
